
<!-- //partials in views -->
<link rel="stylesheet" href="./css/header.css">
<!-- <header>Hey,header</header> -->

<nav>
    <h2>CoDe Social</h2>
    <div id="page-links">
        <%if(locals.user){%>
            <li><a href="/">Home</a></li>
            <li><a href="/user/profile">Profile</a></li>
            <li><a href="/user/signOut">Sign Out</a></li>
        
        <%}else{%>
        
            <li><a href="/user/signUp">Sign Up</a></li>
            <li><a href="/user/signIn">Sign In</a></li>
        <%}%>
    </div>
</nav>