<link rel="stylesheet" href="./css/home.css">
<!-- div use to make a flex container and align section properly -->
<div id="home-container">
    <section id="feed-posts">
        <!-- <h1>CODE SOCIAL /<%= title%></h1> -->
        <!-- <hr> -->
        <h2>Posts and Comments section</h4>
        
        <!-- check -->
        <% if(locals.user){%>
            <form action="/post/create" id="creating-new-post" method="post">
                <legend>*** POST ***</legend>
                <textarea name="content"  id="3" cols="30" rows="10" placeholder="Enter your content" required style="resize:vertical">  </textarea>
                <button type="submit">Post</button>
            </form>
        <%}%>
    
        <div id="posts-list-container">
            <ul>
                <%let a=1%>
                
                <% if(locals.user && locals.posts){
                    for(let post of posts){%> 
    
                        <%- include('_post',{post:post,a:a}) -%>
    
                 <%}}%>
            </ul>
        </div>
    </section>
    
    <section id="user-friends">
        
        <h4>Profile links section</h4>
        <ul>
            <%  for(u of all_users){%>
                <li>
                    <a href="/user/profile/<%=u.id%>"><%=u.name%></a>
                </li>
            <%}%>
        </ul>
    </section>
</div>


<script src="./js/home_posts.js"></script>